@model LLRM.Areas.Auth.Models.Gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Albums.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GalleryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
