@model LLRM.Areas.Auth.Models.CourseGallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Auth/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CourseGallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseGalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
